<h1>Create a Team and Heroes!</h1>

<form action="/teams" method="post" >
  <label for="teamName">Team Name</label>
  <input type="text" name="teamName" id ="teamName"><br>
  
  <label for="teamMotto"> Team Motto</label>
  <input type="text" name="teamMotto" id ="teamMotto"><br>
  
  <h1>Hero 1</h1>
  
  <label for="heroName1">Hero's Name:</label>
  <input type="text" name="heroName1" id ="heroName1"><br>
  
  <label for="heroPower1"> Hero's Power:</label>
  <input type="text" name="heroPower1" id ="heroPower1"><br> 
  
  <label for="heroBio1"> Hero's Biography:</label>
  <input type="text" name="heroBio1" id ="heroBio1"><br>
  
  <h1>Hero 2</h1>
  
  <label for="heroName2">Hero's Name:</label>
  <input type="text" name="heroName2" id ="heroName2"><br>
  
  <label for="heroPower2"> Hero's Power:</label>
  <input type="text" name="heroPower2" id ="heroPower2"><br> 
  
  <label for="heroBio3"> Hero's Biography:</label>
  <input type="text" name="heroBio3" id ="heroBio3"><br>
  
</form>