<h1>Create a Team and Heroes!</h1>

<form action="/teams" method="post" >
  <label for="teamName">Team Name</label>
  <input type="text" name="teamName" id ="teamName"><br>
  
  <label for="teamMotto"> Team Motto</label>
  <input type="text" name="teamMotto" id ="teamMotto"><br>
  
  <h1>Hero 1</h1>
  
  <label for="heroName1">Hero's Name:</label>
  <input type="text" name="heroName1" id ="heroName1"><br>
  
  <label for="heroPower"> Hero's Power:</label>
  <input type="text" name="heroPower" id ="heroPower"><br> 
  
  <label for="heroBio"> Hero's Power:</label>
  <input type="text" name="heroPower" id ="heroPower"><br>
</form>